@page
@model StudentDB.Pages.StudentGrades.GradesIndexModel
@{
}
<br>
<h2>Grade Details of Students</h2>
<table class="table">
    <thead>
       <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Subject</th>
            <th>Grade</th>
  </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listGrades)
        {
                <tr>
                    <td>@item.id</td>
                    <td>@item.name</td>
                    <td>@item.subject</td>
                    <td>@item.grade</td>
                    <td>
                         <a class="btn btn-primary btn-sm" href="/StudentGrades/Edit?id=@item.id">Edit</a>
                         <a class="btn btn-danger btn-sm" href="/StudentGrades/Delete?id=@item.id">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>

